@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

/* Smooth scrolling for the entire app */

html {
  scroll-behavior: smooth;
}

/* Optional: Better scrollbar styling */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
